/*ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;	
}

li
{
		float:right;
}

li a
{
	color: white;
	display: inline-block;
	padding: 14px 16px;
	text-decoration: none;
	font-family:  sans-serif;
	margin: 3px;
}

 li a:hover
{
	background-color: rgb(0, 191, 255);
	color: #333;
	border-radius: 8px;


}

*/
li a{
	color: rgba(101, 221, 195, 0.671) !important;
}

.card-link{
	color: #8FE020;
}


a:hover {
	color: rgba(7, 247, 127, 0.555) !important; 
}

/* img
{
	background-size: cover;

	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
} */
img {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center ;
	background-size: cover;
	background-attachment: fixed;
  }
.text{
	text-align: center;
	color: rgb(41, 146, 179);  
	/* background-color: blueviolet; */
	background-image: url("/images/back.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	justify-content: center;

}
.ravi{
	color:rgb(252, 253, 253);
	height: 30vh;
	font-size: 100px;
}